/* ==========================================================================
   TrendSetter v1.0
   ========================================================================== */

/* Customizable 			
   Main color: 		#f8166c
   Hover color: 	#b8004c
=============================*/
.main-color, a, .navbar .nav>li.active>a, .navbar .nav>li.active>a:hover, .navbar .nav>li.active>a:hover i, .navbar .nav>li.active>a>i,.navbar .brand:hover span,
.btn.btn-clear:hover, .btn.btn-clear.selected{
	color: #f8166c;
}
a:hover{
	color: #b8004c;
}
.navbar .nav>li.active>a, .navbar .nav>li.active>a:hover, .navbar .nav>li>a:hover{
	border-right: 5px solid #f8166c;
}
.btn{
	background: #f8166c;
}
.btn:hover, .btn.selected, .btn.btn-clear.selected, .btn.btn-clear:hover{
	background: #b8004c;
}

/* Bootstrap Override
=============================*/
.btn{
	filter: none !important;
	background-image: none !important;
	border: none !important;
	color: #fff;
	transition: 150ms all;
	-o-transition: 150ms all;
	-moz-transition: 150ms all;
	-webkit-transition: 150ms all;
	display: inline-block;
	border-radius: 4px;
	text-shadow: none !important;
	font-weight: normal;
}
.btn-large{
	font-size: 16px;
}
.progress{
	filter: none;
	border-radius: 0;
	overflow: hidden;
	height: auto;
	border-radius: 5px;
	background: none;
	border: 1px solid #fff;
	margin-bottom: 10px;
}
.progress .bar{
	filter: none !important;
	text-align: left;
	background: #fff;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	padding: 4px 0;
}
.progress .bar span{
	margin-left: 12px;
	font-weight: bold;
	color: #141414;
	font-size: 14px;
	text-shadow: none !important;
}
.progress:last-child{
	margin-bottom: 30px;
}
.navbar{
	width: 15%;
	height: 100%;
	min-width: 110px;
	position: fixed;
	left: 0;
	top: 0;
	display: block;	
	z-index: 999;
	background: #000;
}
.navbar, .navbar-inner{
	border-radius: 0;
}
.navbar .nav>li>a{
	padding: 15px 12px;
}
.navbar-inner{
	width: 100%;
	height: auto;
	position: relative;
	padding: 0;
	filter: none;
	overflow: hidden;
	text-shadow: none;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.navbar ul.nav{
	margin-right: 0;	
}
.navbar .nav>li, .navbar ul.nav{
	clear:both;
	float: none;
}
.small-nav-toggle{
	display: none;
}
.container, .portfolio-overlay{
	width: 87%;
}
.portfolio-overlay{
	left: 12.5%;
}
.container{
	position: relative;
}
a:hover{
	text-decoration: none;
}
.table td, .table th{
	border-top: none;
}
.table tr:first-child th, .table tr:first-child td{
	border-top: none;
}
.alert{
	background: none;
	text-shadow: none;
	border: none;
	padding: 0;
	font-size: 16px;
}
.alert-success, .alert-error{
	color: #fff;
	display: none;
}
/* Navbar custom
=============================*/
.profile-pic{
	width: 100%;
	height: auto;
}
.navbar .brand{
	padding: 10px 15px;
	margin: 0px;
	margin-top: 10%;
	font-family: 'Fredoka One', cursive;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.navbar-inner{
	border: none;
	transition: 150ms all;
	-o-transition: 150ms all;
	-moz-transition: 150ms all;
	-webkit-transition: 150ms all;
}
.navbar-inner, .navbar .nav>li, .navbar .nav>li>a, .navbar .nav>.active>a, .navbar .nav>.active>a:hover{
	background: #000;
	text-transform: uppercase;
}
.navbar .nav>li>a, .navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	border: none;
	color: #aaa;
	text-shadow: none !important;
	box-shadow: 0px 0px 0px 1px #222;
	-o-box-shadow: 0px 0px 0px 1px #222;
	-moz-box-shadow: 0px 0px 0px 1px #222;
	-webkit-box-shadow: 0px 0px 0px 1px #222;
	box-shadow: 0px 0px 0px 1px rgba(255,255,255,255, 0.14);
	-o-box-shadow: 0px 0px 0px 1px rgba(255,255,255,255, 0.14);
	-moz-box-shadow: 0px 0px 0px 1px rgba(255,255,255,255, 0.14);
	-webkit-box-shadow: 0px 0px 0px 1px rgba(255,255,255,255, 0.14);
}
.navbar .nav>li, .navbar .nav>li>a{
	filter: none;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	font-size: 13px;
}
.navbar .nav>li>a i{
	width: 20px;
	display: inline-block;	
}
.navbar .nav>li>a, .navbar .nav>li>a:hover{
	transition: 200ms background ease, 400ms border ease;
	-o-transition: 200ms background ease, 400ms border ease;
	-moz-transition: 200ms background ease, 400ms border ease;
	-webkit-transition: 200ms background ease, 400ms border ease;
}
.navbar .nav>li>a:hover{
	background: #ddd;
	border-top-color: #ddd;
	border-bottom-color: #ddd;
}
.navbar .nav>li>a:hover, .navbar .nav>li>a:hover i{
	color: #000;
}

/* Layout
=============================*/
.container, .portfolio-overlay{
	z-index: 5;
}
.content-section{
	z-index: 2;
	overflow: hidden;
	position: relative;
	padding-top: 45px;
	padding-bottom: 100px;
	float:right;
	width: 85%;
	min-height: 80%;
}
.content-section.image-bg{
	padding-top:0;
	padding-bottom: 0;
}

/* Home
=============================*/
.main-masthead{
	width: 100%;
	height: auto;
	color: #fff;
	z-index: 2;
	overflow: hidden;
}
.masthead-container{
	position: relative;
	z-index: 5;
	padding: 170px 0 20px 0;
	height: 500px;
}
.masthead-image, .parallax{
	position: absolute;
	top: 0;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	height: auto;
	width: auto;
	max-width: none;
}
.social-icons .btn{
	margin-right: 15px;
}
.social-icons{
	padding-top: 10px;
	margin-bottom: 35px;
}
.social-icons .btn.btn-clear{
	border: 1px solid #fff !important;
}
.masthead-content.content-section{
	border: none;
}
.content-intro{
	display: inline-block;
	font-weight: 100;
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	text-transform: none;
	font-style: italic;
}

/* Portfolio
=============================*/
.portfolio-section{
	margin-top: -10px;
}
.element{
	width: 24.9%;
	height: 249px;
	margin: 0;
	margin-bottom: 1px;
	border-radius: 0;
	background-color:#000;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}
.element h3{
	text-transform: none;
}
#container-isotope{
	overflow:visible !important;
	margin-bottom: 35px;
}
.nav.option-isotope{
	text-align: center;
	margin-top: 10px;
}
.nav.option-isotope>li{
	display: inline-block;
	margin-right: 5px;
}
.nav.option-isotope>li:last-child{
	margin-right: 0;
}
.nav.option-isotope>li>a{
	display: inline-block;
}
.portfolio-overlay{
	margin-top:35px;
}
.portfolio-overlay .portfolio-image-full{
	width: 60%;
	height: auto;
	float: left;
}
.portfolio-overlay iframe.portfolio-image-full,
.portfolio-overlay object.portfolio-image-full{
	height: 370px;
}
.portfolio-desc{
	width: 35%;
	float: left;
	margin-left: 3%;
}
.close-overlay{
	float: right;
}
.carousel-control.btn.btn-round.btn-clear{
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 26px;
	line-height: 44px;
	vertical-align: middle;
	transition: none !important;
	-o-transition: none !important;
	-moz-transition: none !important;
	-webkit-transition: none !important;
}
.carousel-inner img{
	width: 100%;
}
img.portfolio-image{
	position:absolute;
	top: 0%;
	left: 0%;
	height:100%;
	max-height: 110%;
	width:100%;
	max-width: 110%;
	transition: width 250ms ease, left 250ms ease, top 250ms ease, height 250ms ease;
	-o-transition: width 250ms ease, left 250ms ease, top 250ms ease, height 250ms ease;
	-moz-transition: width 250ms ease, left 250ms ease, top 250ms ease, height 250ms ease;
	-webkit-transition: width 250ms ease, left 250ms ease, top 250ms ease, height 250ms ease;
}
.portfolio-image-full{
	border-radius: 5px;
	overflow: hidden;
}
.element .portfolio-text{
	position:absolute;
	top: 100%;
	width: 100%;
	height: auto;
	padding:0px 10px;
	font-weight:500;
	color:#fff;
}
.element .portfolio-text i, .about-meta i{
	margin-right:8px;	
}
.portfolio-text h3{
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	margin: 0;
	height: auto;
	line-height: 30px;
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 6px;
}
.element:hover img.portfolio-image{
	top:-3%;
	left:-3%;	
	
	height: 106%;
	width: 106%;

}
.element:hover .portfolio-text h3{
	text-shadow: none;
}
.portfolio-text p{
	font-weight: 300;
}
.portfolio-text span{
	font-weight: 700;
	margin-bottom: 4px;
	display: inline-block;
}
.overlay{
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: black;
    z-index:50;
    -moz-opacity: 0.95;
    opacity:0.95;
    filter: alpha(opacity=95);
    top: 0;
    left: 0;
    display: none;
}
.portfolio-overlay{
	position: absolute;
	z-index: 99;
	top: 0;
	display: none;
}
.portfolio img.main {
	margin:10px;
	border-radius: 4px;
}
.wpstore {
	max-height: 100px;
}

/* About
=============================*/
strong{
	color: #fff;
}
.about-date{
	font-weight: bold;
}
.about-date span{
	display: block;
}
.row-employment{
	margin-bottom: 35px;
}
.row-edu{
	margin-bottom: 20px;
}
.row-edu:last-child{
	margin-bottom: 30px;
}
.row-edu:last-child strong{
	margin-bottom: 0;
}
h4.thin-title{
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	margin: 0;
	height: auto;
	line-height: 30px;
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 15px;

}
h1.thin-title, h2.thin-title, h1 .thin-title, .carousel-caption h4{
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 100;
	text-transform: none !important;
}
h2.content-intro{
	margin: 0 0 5px 0;
	font-size: 32px;
	line-height: 32px;
}
.about-meta{
	margin-bottom: 10px;
	display: inline-block;
}
blockquote{
	font-style: italic;
	line-height: 24px;
}
blockquote small{
	margin-top: 10px;
}
.carousel-indicators.testimonials{
	position: relative !important;
	top: auto !important;
	right: auto
}
.carousel-indicators li{
	cursor: pointer;
	margin-left: 0;
	margin-right: 8px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
}
.carousel-indicators li:hover{
	background: #aaa;
	background: rgba(255,255,255,0.7);
}
/* Contact
=============================*/
.table.contact-table{
	border-left: 3px solid #fff;
	padding-left: 15px;
}
.table.contact-table th{
	padding-left: 15px;
	width: 30%;
}
.contact_form textarea{
	height: 100px;	
}
.contact-row{
	padding: 5px 3px;
	margin-bottom: 10px;
	transition: 150ms all;
	-o-transition: 150ms all;
	-moz-transition: 150ms all;
	-webkit-transition: 150ms all;
	border-radius: 4px;
	border: 1px solid #fff;
}
#submit_contact_info{
	margin-bottom: 10px;
}
.contact-row i{
	color: #fff;
	border-right: 1px solid #fff;
	font-size: 18px;
	line-height: 18px;
	width: 7.5%;
	height:100%;
	vertical-align: top;
	display: inline-block;
	text-align: center;
	padding-right: 3px;
	margin-top: 2px;
	transition: 100ms all;
	-o-transition: 100ms all;
	-moz-transition: 100ms all;
	-webkit-transition: 100ms all;
}
.contact-row.active-row i, .contact-row:hover i, 
.contact-row.active-row input, .contact-row:hover input,
.contact-row.active-row textarea, .contact-row:hover textarea{
	color:#555;
}
.contact-row input{
	margin-bottom: 0;
}
.contact-details-row h4.inline{
	margin-right: 15px;
}
input[type="text"], textarea{
	background: none;
	border-radius: 0;
	color: #fff;
	border: none;
	width: 90%;
	box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
input[type="text"]:hover, input[type="text"]:focus, textarea:hover, textarea:focus{
	border: none;
	box-shadow: none;
	-o-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.inline{
	display: inline-block;
}
i.h4-icon{
	display: inline-block;
	width: 30px;
}
/* Style
=============================*/
body{
	background: #111;
}
.navbar h1,.navbar h2,.navbar h3,.navbar h4,.navbar h5,.navbar h6,.navbar p,.navbar body{
	color: #555;	
}
h1,h2,h3,h4,h5,h6,p,span,body{
	color: #fff;	
}
h1, h2{
	margin-bottom: 10px;
	font-size: 50px;
	line-height:65px;
	font-family: 'Fredoka One', sans-serif;
	letter-spacing: 20px;
	position: relative;
	left: 6px;
}
h1{
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	font-size: 50;
	margin-top: 20px;
	letter-spacing: 14px;
}
h1.intro-text{
	margin-bottom: 10px;
	letter-spacing: 15px;
	font-size: 60px;
	line-height: 70px;
}

/* intro message under name size */
h2.intro-secondary{
	font-size: 28px;
	line-height: 38px;
	font-family: 'Helvetica Neue', 'Lato', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 10px;
	position: relative;
	left: 2px;
	margin-bottom: 15px;
}
.navbar .brand span{
	color: #141414;
}
.main-trend-navbar{
	z-index:100;
}
h3{
	font-family: 'Fredoka One', sans-serif;
	margin-bottom: 25px;
}
p{
	line-height: 24px;
}
/* Components
=============================*/
.btn-clear:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.btn-clear:before {
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}
.btn.btn-clear {
	box-shadow: 0 0 0px rgba(255,255,255,1);
	-o-box-shadow: 0 0 0px rgba(255,255,255,1);
	-moz-box-shadow: 0 0 0px rgba(255,255,255,1);
	-webkit-box-shadow: 0 0 0px rgba(255,255,255,1);
	overflow: hidden;
	-webkit-transition: background 0.1s, color 0.2s, box-shadow 0.35s !important;
	-moz-transition: background 0.1s, color 0.3s, box-shadow 0.35s !important;
	transition: background 0.1s, color 0.2s, box-shadow 0.35s !important;
}

.btn-clear:after {
	display: none;
}

.btn-clear:hover, .contact-row:hover, .contact-row.active-row {
	background: rgba(255,255,255,1);
	box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	-o-box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	-moz-box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
	-webkit-box-shadow: 0 0 0 5px rgba(255,255,255,0.3);
}


@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

.btn-round{
	border-radius: 50%;
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0;
}
.btn-round i{
	font-size: 20px;
	top: 16px;
	position: relative;
}
.btn.btn-clear{
	border: 1px solid #fff !important;
	transition: 150ms background-color;
	-o-transition: 150ms background-color;
	-moz-transition: 150ms background-color;
	-webkit-transition: 150ms background-color;
	color: #fff;
	background: none;
	background-color: none;
	font-weight: bold;
}
.btn.btn-clear:hover, .btn.btn-clear.selected{
	background: #fff !important;
}
.top-shadow{
	height: 30px;
	width: 100%;
	background-repeat: repeat-x;
	position: relative;
	z-index: 10;
	background: url('../img/top-shadow.png');
}
.bottom-shadow{
	background: url('../img/bottom-shadow.png');
	background-repeat: repeat-x;
	position: relative;
	z-index: 4;
	height: 150px;
	width: 100%;
	margin-top: -80px;
}
.medium-text, .medium-text p, p.medium-text{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	line-height: 36px;
	margin-bottom: 30px;
	display: inline-block;
}
p.medium-text{
	margin-top: -9px;
}
.google-maps-embed{
	width: 100%;
	height: 260px;
	background: #fff;
	display: block;
	border-radius: 4px;
}
.text-shadow{
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.no-margin-top{
	margin-top: 0;
}

/* Responsive
=============================*/
@media(max-width: 1200px){
	.navbar{
		width: 20%;
	}
	.content-section{
		width: 80%;
	}
	.portfolio-overlay{
		left: 14.5%;
		width: 84%;
	}
}
@media(max-width: 930px){
	.element{
		width: 33%;
	}
	.navbar .nav>li>a i{
		display: none;
	}
	.navbar{
		width: 20%;
	}
	.content-section{
		width: 80%;
	}
	.portfolio-overlay{
		left: 16.5%;
		width: 82%;
	}
}

@media(max-width: 800px){
	.element{
		width: 49.9%;
	}
	.navbar .brand{
		font-size: 16px;
		line-height: 18px;
		height: auto;
	}
}
@media(max-width: 767px){
	body{
		padding: 0;
	}
	.profile-pic{
		display: none;
	}
	.navbar{
		top: 0;
		position: fixed;
		height: auto;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	.navbar li{
		display: inline-block;
	}
	.navbar-inner{
		border-radius: 0;
	}
	.navbar .brand{
		margin-top: 0;
		text-align: center;
		width: 100%;
	}
	.navbar li>a:hover, .navbar li, .navbar ul, .navbar .nav>li>a{
		border: none !important;
	}
	.content-section{
		float: none;
		width: 100%;
	}
	.portfolio-image-full{
		border-radius: 0;
	}
	.portfolio-overlay{
		width: 100%;
		left: 0;
	}
	.portfolio-overlay .portfolio-image-full, .portfolio-desc{
		clear: both;
		width: 100%;
		padding-top: 20px;
	}
	.portfolio-desc{
		margin-left: 0;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
	.carousel-indicators{
		top: 30px;
	}
}
@media(max-width: 550px){
	a.small-nav-toggle{
		display: block;
		width: 50px;
		height: 50px;
		float: right;
		font-size: 30px;
		text-align: center;
		padding-top: 10px;
		box-sizing: border-box;
		-o-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		transition: 100ms all;
		-o-transition: 100ms all;
		-moz-transition: 100ms all;
		-wekbit-transition: 100ms all;
	}
	a.small-nav-toggle:hover{
		color: #000;
		background: #fff;
	}
	.navbar li{
		display: block;
	}
	.navbar .nav>li>a{
		padding: 15px 12px;
	}
	.navbar .nav>li, .navbar ul.nav{
		clear:both;
		float: none;
	}
	.profile-pic{
		display: inline-block;
		height: 50px;
		width: auto;
		float: left;
	}
	.nav.option-set{
		display: none;
	}
	h1, h2{
		font-size:25px;
		letter-spacing: 8px;
	}
	h1.intro-text{
		margin-bottom: 10px;
		letter-spacing: 9px;
		font-size: 30px;
		line-height: 50px;
	}
	h2.intro-secondary{
		font-size: 25px;
		letter-spacing: 8px;
	}
	.container, .masthead-container.container{
		width: 94%;
		padding-left: 3%;
		padding-right: 3%;
	}
	.masthead-container{
		padding: 150px 0 50px 0;
	}
	.portfolio-overlay{
		padding-top: 20px;
	}
	.portfolio-overlay img{
		width: 100%;
		height: auto;
		float: none;
		margin: 0;
	}
	.portfolio-overlay h4.thin-title{
		margin-top:15px;
	}
}
@media(max-width: 450px){
	.navbar .nav>li>a{
	
		font-size: 13px;
	}
	.element{
		width: 100%;
	}
}
@media(max-width: 350px){
	.navbar .nav>li>a{
		padding: 2px 3px;
		font-size: 12px;
	}
}