.block.about {
  padding: 10vw 15vw;
}

.hola h2 {
  font-size: 4.2vw;
  line-height: 1.1;
  font-weight: 800;
  position: relative;
}

.hola h2:before {
  background: #4f555a;
  content: ' ';
  display: block;
  height: 100%;
  left: -0.4em;
  position: absolute;
  width: 1vw;
  max-width: 0.125em;
}

.hola .head {
  font-size: 1.2em;
  color: #4f555a;
}

.hola .foot {
  font-size: 1.1em;
  margin-top: 1rem;
  color: #4f555a;
}

@media (max-width: 35.5em) {
  .hola h2 {
    font-size: 8.2vw;
  }
}

@media (min-width: 35.5em) {
  .hola h2 {
    font-size: 7.2vw;
  }
}

@media (min-width: 40.063em) {
  .hola h2 {
    font-size: 6.2vw;
  }
}

@media (min-width: 64em) {
  .hola h2 {
    font-size: 5.2vw;
  }
}

@media (min-width: 90.063em) {
  .hola h2 {
    font-size: 4.2vw;
  }
}