.block.contact .part {
  padding: 6vw;
}

.block.contact .seeya h1.head {
  font-size: 60px;
}
@media (min-width: 35.5em) {
  .block.contact .seeya h1.head {
    margin: 0 -10vw;
  }
}
.block.contact .seeya p {
  font-weight: lighter;
  margin-top: 0;
}

.social-icons {
  list-style-type: none;
  padding: 4px;
  margin: 0;
}

.social-icons li {
  display: inline-block;
}
