.experience .container {
  max-width: 960px;
}

.experience .frame {
  margin: auto 0;
}

.img-company {
  max-width: 160px;
  margin: 0 auto;
}

.row.company {
  padding-bottom: 0;
}

.company .company-name {
  margin: 0;
  font-size: 2.4em;
}

.company .work-title {
  margin: 0;
}

.company .work-time {
  margin: 0;
  font-weight: 100;
}

.company .work-description {
  margin: 1rem 0;
}