.block.hero {
  background-position: center center;
  background-repeat: no-repeat;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 101;
  overflow: hidden;
  background: url(/assets/img/res/pattern.svg);
  background-size: 80px;
}
.block.hero .block__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  user-select: none;
  cursor: default;
}
.block.hero .preloader, .loaded-ready {
  position: absolute;
  left: 50%;
  margin-left: -32px;
  bottom: 64px;
  -webkit-transition: .5s cubic-bezier(.6, -.28, .735, .045);
  transition: .5s cubic-bezier(.6, -.28, .735, .045)
}
.preloader img, .loaded-ready img {
  height: 64px;
}
.loaded-ready {
  bottom: -200px;
}
.loaded .loaded-ready {
  bottom: 64px;
}
.block.hero .main-nav {
  bottom: -64px;
  -webkit-transition: .4s cubic-bezier(.165, .84, .44, 1) .5s;
  transition: .4s cubic-bezier(.165, .84, .44, 1) .5s
}
.loaded .block.hero {
  position: fixed;
}
.loaded .block.hero .preloader {
  bottom: -200px
}
.loaded .block.hero .main-nav {
  bottom: 0
}
.block.hero {
  color: white;
  height: 100vh;
}
body.loading .block.hero {
  background: #212121;
}
.block.hero .name {
  font-family: 'Expletus Sans', cursive;
  font-size: 8vw;
  font-weight: 100;
  margin: 0;
  line-height: 0.8em;
}
.block.hero .name span {
  font-weight: 600;
}
.block.hero .subtitle {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  text-transform: uppercase;
  font-size: 2vw;
  font-weight: 100;
}
@media (max-width: 50em) {
  .block.hero .name {
    font-size: 12vw;
  }
  .block.hero .subtitle {
    font-size: 5vw;
  }
}

.vertical-align-helper {
  height: 100vh;
}
.vertical-align-helper:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-left: -5px
}
.vertical-align-middle {
  vertical-align: middle;
  display: inline-block;
  width: 100%
}